### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Windows ###
Desktop.ini
ehthumbs.db
Thumbs.db

### SublimeText ###
*.sublime-project
*.sublime-workspace

### VSCode ###
.history
.vscode

### IntelliJ ###
.idea

### Logs ###
*.log

### Temporary files ###
*.tmp

### Build artifacts ###
*.pyc
